body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


.search-container {
    /*padding: 30px 0 30px 30px*/
}
.property-search-form {
    position: relative;
    z-index: 2;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.9em;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
    -webkit-transition: all .2s;
    transition: all .2s;
}
.border-box {
   
}
.hideColumn {
    display:none;
}

#div-query {
    position: fixed; /* now it will stay fixed on the screen, even while you scroll*/
    left: 0px; /* it will be stuck to the left*/
    top: 100px; /* it will be in the middle (vertically)*/
    z-index:10;
}
#ul_queryGourp
{
    width:200px;
}
  #map {
            padding: 0;
            margin: 0;
        }

#pop-window {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
}
#pop-window-close
{
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
}
#pop-window .cartodb-popup-tip-container {
height:20px;
left:-2px;
}
 #pop-window h2
 {
     text-transform:none;
     color:#fff;
 }
  #pop-window h3
 {
     text-transform:none;
     color:#333;
 }
div.cartodb-popup.v2
 {
     width:326px !important;
 }
.navbar-nav > li > a {
    color: #787878 !important;
}
.navbar-nav > li > a:hover {
    color:#999999 !important;
}
.navbar .container
{
    width:100% !important;
    max-width:none;
}
.container > p {
    cursor:pointer;
}
.a-menu {
    font-size: 15px !important;
    color: #787878;
}
#small-menu .icon-bar {
    background-color: #787878 !important;
}
#small-menu {
    border-color: #787878 !important;
}

@media (min-width: 992px) {
    .h-scroll {
        position: fixed;
    }
}

.navbar-inverse .navbar-collapse
{
    background-color:#F5F5F5;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color:#DCDCDC !important;
}
