body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


.search-container {
    /*padding: 30px 0 30px 30px*/
}
.property-search-form {
    position: relative;
    z-index: 2;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.9em;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
    -webkit-transition: all .2s;
    transition: all .2s;
}
.border-box {
   
}
.hideColumn {
    display:none;
}

#div-query {
    position: fixed; /* now it will stay fixed on the screen, even while you scroll*/
    left: 0px; /* it will be stuck to the left*/
    top: 50px; /* it will be in the middle (vertically)*/
    z-index:10;
}
#ul_queryGourp
{
    width:200px;
}
  #map {
            height: 800px;
            padding: 0;
            margin: 0;
        }