
<table id="tb_cityAllNote" >
    <thead>
        <tr>
            <th colspan="4" rowspan="2" data-valign="middle" data-align="center"></th>
            <th colspan="8" rowspan="2"  data-valign="middle" data-align="center">Buffers(Feets)</th>
            <th colspan="21" data-valign="middle" data-align="center">Facilities Permitted</th>
            <th colspan="1" rowspan="2" data-valign="middle" data-align="center">Edit</th>
        </tr>
        <tr>
            <th colspan="3" data-valign="middle" data-align="center">Grower-Class A</th>
            <th colspan="3" data-valign="middle" data-align="center">Grower-Class B</th>
            <th colspan="3" data-valign="middle" data-align="center">Grower-Class C</th>
            <th colspan="3" data-valign="middle" data-align="center">Processor</th>
            <th colspan="3" data-valign="middle" data-align="center">Provisioning Center</th>
            <th colspan="3" data-valign="middle" data-align="center">Safety Compliance</th>
            <th colspan="3" data-valign="middle" data-align="center">Secure Transporters</th>
        </tr>
        <tr>
            <th data-field="Municipality" data-sortable="true" data-align="left" >Municipality</th>
            <th data-field="OptStatus" data-align="center" data-sortable="true">Opt Status</th>
            <th data-field="OrdinanceTime" data-align="left" >Ordinance   Date&nbsp;&nbsp;</th>
            <th data-field="Measurement" data-align="center" data-sortable="true">Meas</th>

            <th data-field="BufferSchoolFeet" data-align="center" data-sortable="true">School</th>
            <th data-field="BufferDaycareFeet" data-align="center" data-sortable="true">Daycare</th>
            <th data-field="BufferParkFeet" data-align="center" data-sortable="true">Park</th>
            <th data-field="BufferSDMFeet" data-align="center" data-sortable="true">SDM/SDD</th>
            <th data-field="BufferReligiousFeet" data-align="center" data-sortable="true">Religious</th>
            <th data-field="BufferResidentialFeet" data-align="center" data-sortable="true">Residential</th>
            <th data-field="BufferRoadFeet" data-align="center" data-sortable="true">Road</th>
            <th data-field="BufferOtherFeet" data-align="center" data-sortable="true">Other MM</th>

            <th data-field="FacililtyGrowerClassAPermit" data-align="center" data-sortable="true">Permit</th>
            <th data-field="FacililtyGrowerClassAZoning" data-align="left" >Zoning  Status</th>
            <th data-field="FacililtyGrowerClassALimit" data-align="center" data-sortable="true">Limit</th>

            <th data-field="FacililtyGrowerClassBPermit" data-align="center" data-sortable="true">Permit</th>
            <th data-field="FacililtyGrowerClassBZoning" data-align="left">Zoning  Status</th>
            <th data-field="FacililtyGrowerClassBLimit" data-align="center" data-sortable="true">Limit</th>

            <th data-field="FacililtyGrowerClassCPermit" data-align="center" data-sortable="true">Permit</th>
            <th data-field="FacililtyGrowerClassCZoning" data-align="left">Zoning  Status</th>
            <th data-field="FacililtyGrowerClassCLimit" data-align="center" data-sortable="true">Limit</th>

            <th data-field="FacililtyProcPermit" data-align="center" data-sortable="true">Permit</th>
            <th data-field="FacililtyProcZoning" data-align="left">Zoning  Status</th>
            <th data-field="FacililtyProcLimit" data-align="center" data-sortable="true">Limit</th>

            <th data-field="FacililtyProvPermit" data-align="center" data-sortable="true">Permit</th>
            <th data-field="FacililtyProvZoning" data-align="left" >Zoning  Status</th>
            <th data-field="FacililtyProvLimit" data-align="center" data-sortable="true">Limit</th>

          
            <th data-field="FacililtySCPermit" data-align="center" data-sortable="true">Permit</th>
            <th data-field="FacililtySCZoning" data-align="left" >Zoning  Status</th>
            <th data-field="FacililtySCLimit" data-align="center" data-sortable="true">Limit</th>

            <th data-field="FacililtySTPermit" data-align="center" data-sortable="true">Permit</th>
            <th data-field="FacililtySTZoning" data-align="left" >Zoning  Status</th>
            <th data-field="FacililtySTLimit" data-align="center" data-sortable="true">Limit</th>

            <th data-field="Action" data-align="center"></th>

        </tr>
    </thead>
</table>


<script>
        function editCityNote(obj)
        {
            var guid = $(obj).attr("data-cityGuid");
            popUpCityGuid = guid;
            showSideBar(guid, false);
        }
</script>