
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CityMap</title>
    <link href="~/Content/theme-main.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
</head>
<body class="page-template page-template-template-map-vertical page-template-template-map-vertical-php page page-id-301 header-fixed wpb-js-composer js-comp-ver-5.1.1 vc_responsive">

    <!--<header id="header">

        <div class="container">
            <div class="site-branding">

                <p class="site-title">Achilles MAP</p>
            </div>
        </div>
    </header>-->
    <div style="margin-top:30px;">
    </div>
    <div id="content">

        <div class="container search-result-container">
            <div class="row">
                <div class="col-sm-6 search-container">

                    <form class="property-search-form border-box">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 form-group">
                                <select name="sel_search_CityName" id="sel_search_CityName" class="form-control" multiple="multiple">
                                    <option value="all" selected>Any City</option>


                                    <option value="belgravia" class="level2">
                                        Belgravia
                                    </option>

                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-6 form-group">
                                <select name="sel_search_KeyWord" id="sel_search_KeyWord" class="form-control" multiple="multiple">
                                    <option value="all">Any Key Word</option>
                                    <option value="rent">
                                        For Rent
                                    </option>
                                    <option value="sale">
                                        For Sale
                                    </option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-6 form-group">
                                <select name="sel_search_DeployDate" id="sel_search_DeployDate" class="form-control" multiple="multiple">
                                    <option value="all">Deploy Date</option>
                                    <option value="apartment">
                                        Apartment
                                    </option>
                                    <option value="house">
                                        House
                                    </option>
                                    <option value="office">
                                        Office
                                    </option>
                                    <option value="villa">
                                        Villa
                                    </option>
                                </select>
                            </div>

                            <div class="col-xs-12 col-sm-6 form-group">
                                <select name="minrooms" id="minrooms" class="form-control chosen-select">
                                    <option value="">Min. rooms</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-6 form-group">
                                <input type="number" name="maxsize" id="maxsize" value="" placeholder="Min. size" min="0" class="form-control" />
                            </div>
                            <div class="col-xs-12 col-sm-6 form-group">
                                <input type="text" name="keyword" id="keyword" value="" placeholder="Keyword (e.g. 'office')" class="form-control" />
                            </div>
                            <div class="col-xs-12 col-sm-6 form-group">


                                <select name="pricerange" id="pricerange" class="form-control chosen-select">
                                    <option value="">Price</option>

                                    <option value="0-49999">$0 - $49,999</option>


                                    <option value="50000-99999">$50,000 - $99,999</option>


                                    <option value="100000-149999">$100,000 - $149,999</option>


                                    <option value="150000-199999">$150,000 - $199,999</option>


                                    <option value="200000-249999">$200,000 - $249,999</option>


                                    <option value="250000-299999">$250,000 - $299,999</option>


                                    <option value="300000-349999">$300,000 - $349,999</option>


                                    <option value="350000-399999">$350,000 - $399,999</option>


                                    <option value="400000-449999">$400,000 - $449,999</option>


                                    <option value="450000-499999">$450,000 - $499,999</option>


                                    <option value="500000-549999">$500,000 - $549,999</option>


                                    <option value="550000-599999">$550,000 - $599,999</option>


                                    <option value="600000-649999">$600,000 - $649,999</option>


                                    <option value="650000-699999">$650,000 - $699,999</option>


                                    <option value="700000-749999">$700,000 - $749,999</option>


                                    <option value="750000-799999">$750,000 - $799,999</option>


                                    <option value="800000-849999">$800,000 - $849,999</option>


                                    <option value="850000-899999">$850,000 - $899,999</option>


                                    <option value="900000-949999">$900,000 - $949,999</option>


                                    <option value="950000-999999">$950,000 - $999,999</option>


                                    <option value="1000000">$1,000,000+</option>


                                </select>

                            </div>

                            <div class="col-xs-12 col-sm-6 form-group">
                                <input type="submit" value="Search" class="btn btn-primary btn-block form-control" />
                            </div>

                        </div>

                        <input type="hidden" name="pageid" value="301" />


                    </form>

                    <h2 class="page-title">Search Results (<span>12</span>)</h2>

                    <div id="property-search-results" data-view="grid-view">
                        <div class="property-items show-compare">

                            <div id="compare-properties-popup">
                                <h4>Compare Properties</h4>
                                <div id="compare-properties-thumbnails"></div>


                                <p>
                                    <a href="http://demo.themetrail.com/realty/compare/" class="btn btn-primary btn-lg">Compare</a>
                                </p>

                                <p class="alert alert-info hide">
                                    <small>You have reached the maximum of four properties per comparison.</small>
                                </p>
                            </div>
                            <ul class="row list-unstyled">
                                <li class="col-lg-6">

                                    <div class="property-item border-box  featured" data-sync-id="0">
                                        <a href="http://demo.themetrail.com/realty/property/westminster-beauty/">
                                            <figure class="property-thumbnail">
                                                <img width="600" height="300" src="http://demo.themetrail.com/realty/wp-content/uploads/2015/10/realty-property-bedroom-cozy-600x300.jpg" class=" wp-post-image" alt="" />			<figcaption>
                                                    <div class="property-excerpt">
                                                        <h4 class="address">Birdcage Walk, London, UK</h4>
                                                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the ..</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="property-content content">
                                            <div class="property-title">
                                                <a href="http://demo.themetrail.com/realty/property/westminster-beauty/"><h3 class="title">Westminster Beauty</h3></a>
                                            </div>
                                            <div class="property-meta clearfix">
                                                <div>
                                                    <div class="meta-title"><i class="icon-size"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Size">600 sq ft</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-rooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Rooms">5 Rooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bedrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bedrooms">2 Bedrooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bathrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bathrooms">2 Bathrooms</div>
                                                </div>
                                            </div>


                                            <div class="property-price">
                                                <div class="price-tag">
                                                    $500,000
                                                </div>
                                                <div class="property-icons">
                                                    <span style="position: relative">
                                                        <div class="share-unit" style="display: none;">
                                                            <a class="social-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fwestminster-beauty%2F&amp;t=Westminster+Beauty"><i class="icon-facebook"></i></a>
                                                            <a target="_blank" class="social-twitter" href="http://twitter.com/home?status=Westminster+Beauty+http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fwestminster-beauty%2F"><i class="icon-twitter"></i></a>
                                                            <a class="social-google" target="_blank" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http://demo.themetrail.com/realty/property/westminster-beauty/"><i class="icon-google-plus"></i></a>
                                                            <a class="social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://demo.themetrail.com/realty/property/westminster-beauty/&amp;description=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fwestminster-beauty%2F"><i class="icon-pinterest"></i></a>
                                                        </div>
                                                        <i class="icon-share share-property" data-toggle="tooltip" data-original-title="Share" title="Share"></i>
                                                    </span>

                                                    <i class="add-to-favorites icon-heart-1" data-fav-id="138" data-toggle="tooltip" title="Add To Favorites"></i><i class="icon-add compare-property" data-compare-id="138" data-toggle="tooltip" title="Compare"></i>

                                                </div><!-- .property-icons -->
                                                <div class="clearfix"></div>
                                            </div><!-- .property-price -->
                                        </div><!-- .property-content -->

                                    </div><!-- .property-item -->
                                </li>
                                <li class="col-lg-6">

                                    <div class="property-item border-box  featured" data-sync-id="1">
                                        <a href="http://demo.themetrail.com/realty/property/spacious-mansion/">
                                            <figure class="property-thumbnail">
                                                <img width="600" height="300" src="http://demo.themetrail.com/realty/wp-content/uploads/2015/10/realty-property-villa-pool-4-600x300.jpg" class=" wp-post-image" alt="" />			<figcaption>
                                                    <div class="property-excerpt">
                                                        <h4 class="address">3 Wilton Crescent, London, UK</h4>
                                                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the ..</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="property-content content">
                                            <div class="property-title">
                                                <a href="http://demo.themetrail.com/realty/property/spacious-mansion/"><h3 class="title">Spacious Mansion</h3></a>
                                            </div>
                                            <div class="property-meta clearfix">
                                                <div>
                                                    <div class="meta-title"><i class="icon-size"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Size">7500 sq ft</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-rooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Rooms">8 Rooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bedrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bedrooms">9 Bedrooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bathrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bathrooms">3 Bathrooms</div>
                                                </div>
                                            </div>


                                            <div class="property-price">
                                                <div class="price-tag">
                                                    $950,000
                                                </div>
                                                <div class="property-icons">
                                                    <span style="position: relative">
                                                        <div class="share-unit" style="display: none;">
                                                            <a class="social-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fspacious-mansion%2F&amp;t=Spacious+Mansion"><i class="icon-facebook"></i></a>
                                                            <a target="_blank" class="social-twitter" href="http://twitter.com/home?status=Spacious+Mansion+http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fspacious-mansion%2F"><i class="icon-twitter"></i></a>
                                                            <a class="social-google" target="_blank" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http://demo.themetrail.com/realty/property/spacious-mansion/"><i class="icon-google-plus"></i></a>
                                                            <a class="social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://demo.themetrail.com/realty/property/spacious-mansion/&amp;description=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fspacious-mansion%2F"><i class="icon-pinterest"></i></a>
                                                        </div>
                                                        <i class="icon-share share-property" data-toggle="tooltip" data-original-title="Share" title="Share"></i>
                                                    </span>

                                                    <i class="add-to-favorites icon-heart-1" data-fav-id="140" data-toggle="tooltip" title="Add To Favorites"></i><a href="//vimeo.com/105744291" class="property-video-popup"><i class="icon-video-camera" data-toggle="tooltip" title="Watch Trailer"></i></a><i class="icon-add compare-property" data-compare-id="140" data-toggle="tooltip" title="Compare"></i>

                                                </div><!-- .property-icons -->
                                                <div class="clearfix"></div>
                                            </div><!-- .property-price -->
                                        </div><!-- .property-content -->

                                    </div><!-- .property-item -->
                                </li>
                                <li class="col-lg-6">

                                    <div class="property-item border-box  featured" data-sync-id="2">
                                        <a href="http://demo.themetrail.com/realty/property/apartment-on-stamford/">
                                            <figure class="property-thumbnail">
                                                <img width="600" height="300" src="http://demo.themetrail.com/realty/wp-content/uploads/2015/10/realty-property-living-room-light-600x300.jpg" class=" wp-post-image" alt="" />			<figcaption>
                                                    <div class="property-excerpt">
                                                        <h4 class="address">20 Stamford Street, London, United Kingdom</h4>
                                                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the ..</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="property-content content">
                                            <div class="property-title">
                                                <a href="http://demo.themetrail.com/realty/property/apartment-on-stamford/"><h3 class="title">Apartment On Stamford</h3></a>
                                            </div>
                                            <div class="property-meta clearfix">
                                                <div>
                                                    <div class="meta-title"><i class="icon-size"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Size">350 sq ft</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-rooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Rooms">3 Rooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bedrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bedrooms">1 Bedroom</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bathrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bathrooms">1 Bathroom</div>
                                                </div>
                                            </div>


                                            <div class="property-price">
                                                <div class="price-tag">
                                                    $3,000&nbsp; per month
                                                </div>
                                                <div class="property-icons">
                                                    <span style="position: relative">
                                                        <div class="share-unit" style="display: none;">
                                                            <a class="social-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fapartment-on-stamford%2F&amp;t=Apartment+On+Stamford"><i class="icon-facebook"></i></a>
                                                            <a target="_blank" class="social-twitter" href="http://twitter.com/home?status=Apartment+On+Stamford+http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fapartment-on-stamford%2F"><i class="icon-twitter"></i></a>
                                                            <a class="social-google" target="_blank" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http://demo.themetrail.com/realty/property/apartment-on-stamford/"><i class="icon-google-plus"></i></a>
                                                            <a class="social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://demo.themetrail.com/realty/property/apartment-on-stamford/&amp;description=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fapartment-on-stamford%2F"><i class="icon-pinterest"></i></a>
                                                        </div>
                                                        <i class="icon-share share-property" data-toggle="tooltip" data-original-title="Share" title="Share"></i>
                                                    </span>

                                                    <i class="add-to-favorites icon-heart-1" data-fav-id="149" data-toggle="tooltip" title="Add To Favorites"></i><i class="icon-add compare-property" data-compare-id="149" data-toggle="tooltip" title="Compare"></i>

                                                </div><!-- .property-icons -->
                                                <div class="clearfix"></div>
                                            </div><!-- .property-price -->
                                        </div><!-- .property-content -->

                                    </div><!-- .property-item -->
                                </li>
                                <li class="col-lg-6">

                                    <div class="property-item border-box  featured" data-sync-id="3">
                                        <a href="http://demo.themetrail.com/realty/property/loft-above-the-city/">
                                            <figure class="property-thumbnail">
                                                <img width="600" height="300" src="http://demo.themetrail.com/realty/wp-content/uploads/2015/10/realty-property-bedroom-modern-600x300.jpg" class=" wp-post-image" alt="" />			<figcaption>
                                                    <div class="property-excerpt">
                                                        <h4 class="address">180 York Road, London, UK</h4>
                                                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the ..</p>
                                                    </div>
                                                    <div class="property-tag tag-left">
                                                        Bargain
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="property-content content">
                                            <div class="property-title">
                                                <a href="http://demo.themetrail.com/realty/property/loft-above-the-city/"><h3 class="title">Loft Above The City</h3></a>
                                            </div>
                                            <div class="property-meta clearfix">
                                                <div>
                                                    <div class="meta-title"><i class="icon-size"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Size">450 sq ft</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-rooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Rooms">2 Rooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bedrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bedrooms">1 Bedroom</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bathrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bathrooms">1 Bathroom</div>
                                                </div>
                                            </div>


                                            <div class="property-price">

                                                <div class="price-tag">
                                                    $2,500&nbsp;&nbsp;per month
                                                </div>
                                                <div class="property-icons">
                                                    <span style="position: relative">
                                                        <div class="share-unit" style="display: none;">
                                                            <a class="social-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Floft-above-the-city%2F&amp;t=Loft+Above+The+City"><i class="icon-facebook"></i></a>
                                                            <a target="_blank" class="social-twitter" href="http://twitter.com/home?status=Loft+Above+The+City+http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Floft-above-the-city%2F"><i class="icon-twitter"></i></a>
                                                            <a class="social-google" target="_blank" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http://demo.themetrail.com/realty/property/loft-above-the-city/"><i class="icon-google-plus"></i></a>
                                                            <a class="social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://demo.themetrail.com/realty/property/loft-above-the-city/&amp;description=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Floft-above-the-city%2F"><i class="icon-pinterest"></i></a>
                                                        </div>
                                                        <i class="icon-share share-property" data-toggle="tooltip" data-original-title="Share" title="Share"></i>
                                                    </span>

                                                    <i class="add-to-favorites icon-heart-1" data-fav-id="143" data-toggle="tooltip" title="Add To Favorites"></i><i class="icon-add compare-property" data-compare-id="143" data-toggle="tooltip" title="Compare"></i>

                                                </div><!-- .property-icons -->
                                                <div class="clearfix"></div>
                                            </div><!-- .property-price -->
                                        </div><!-- .property-content -->

                                    </div><!-- .property-item -->
                                </li>
                                <li class="col-lg-6">

                                    <div class="property-item border-box  featured" data-sync-id="4">
                                        <a href="http://demo.themetrail.com/realty/property/futuristic-nest/">
                                            <figure class="property-thumbnail">
                                                <img width="600" height="300" src="http://demo.themetrail.com/realty/wp-content/uploads/2015/10/realty-property-one-story-house-2-600x300.jpg" class=" wp-post-image" alt="" />			<figcaption>
                                                    <div class="property-excerpt">
                                                        <h4 class="address">125 Oakley Street, London, UK</h4>
                                                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the ..</p>
                                                    </div>
                                                    <div class="property-tag tag-left">
                                                        Rented Out
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="property-content content">
                                            <div class="property-title">
                                                <a href="http://demo.themetrail.com/realty/property/futuristic-nest/"><h3 class="title">Futuristic Nest</h3></a>
                                            </div>
                                            <div class="property-meta clearfix">
                                                <div>
                                                    <div class="meta-title"><i class="icon-size"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Size">1500 sq ft</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-rooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Rooms">8 Rooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bedrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bedrooms">3 Bedrooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bathrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bathrooms">2 Bathrooms</div>
                                                </div>
                                            </div>


                                            <div class="property-price">
                                                <div class="price-tag">
                                                    $5,000&nbsp; per month
                                                </div>
                                                <div class="property-icons">
                                                    <span style="position: relative">
                                                        <div class="share-unit" style="display: none;">
                                                            <a class="social-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Ffuturistic-nest%2F&amp;t=Futuristic+Nest"><i class="icon-facebook"></i></a>
                                                            <a target="_blank" class="social-twitter" href="http://twitter.com/home?status=Futuristic+Nest+http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Ffuturistic-nest%2F"><i class="icon-twitter"></i></a>
                                                            <a class="social-google" target="_blank" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http://demo.themetrail.com/realty/property/futuristic-nest/"><i class="icon-google-plus"></i></a>
                                                            <a class="social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://demo.themetrail.com/realty/property/futuristic-nest/&amp;description=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Ffuturistic-nest%2F"><i class="icon-pinterest"></i></a>
                                                        </div>
                                                        <i class="icon-share share-property" data-toggle="tooltip" data-original-title="Share" title="Share"></i>
                                                    </span>

                                                    <i class="add-to-favorites icon-heart-1" data-fav-id="142" data-toggle="tooltip" title="Add To Favorites"></i><a href="//vimeo.com/63241912" class="property-video-popup"><i class="icon-video-camera" data-toggle="tooltip" title="Watch Trailer"></i></a><i class="icon-add compare-property" data-compare-id="142" data-toggle="tooltip" title="Compare"></i>

                                                </div><!-- .property-icons -->
                                                <div class="clearfix"></div>
                                            </div><!-- .property-price -->
                                        </div><!-- .property-content -->

                                    </div><!-- .property-item -->
                                </li>
                                <li class="col-lg-6">

                                    <div class="property-item border-box" data-sync-id="5">
                                        <a href="http://demo.themetrail.com/realty/property/country-house/">
                                            <figure class="property-thumbnail">
                                                <img width="600" height="300" src="http://demo.themetrail.com/realty/wp-content/uploads/2015/10/realty-property-red-bricks-entrance-600x300.jpg" class=" wp-post-image" alt="" />			<figcaption>
                                                    <div class="property-excerpt">
                                                        <h4 class="address">Great Dover Street, London, UK</h4>
                                                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the ..</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="property-content content">
                                            <div class="property-title">
                                                <a href="http://demo.themetrail.com/realty/property/country-house/"><h3 class="title">Country House</h3></a>
                                            </div>
                                            <div class="property-meta clearfix">
                                                <div>
                                                    <div class="meta-title"><i class="icon-size"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Size">750 sq ft</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-rooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Rooms">5 Rooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bedrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bedrooms">2 Bedrooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bathrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bathrooms">2 Bathrooms</div>
                                                </div>
                                            </div>


                                            <div class="property-price">
                                                <div class="price-tag">
                                                    $350,000
                                                </div>
                                                <div class="property-icons">
                                                    <span style="position: relative">
                                                        <div class="share-unit" style="display: none;">
                                                            <a class="social-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fcountry-house%2F&amp;t=Country+House"><i class="icon-facebook"></i></a>
                                                            <a target="_blank" class="social-twitter" href="http://twitter.com/home?status=Country+House+http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fcountry-house%2F"><i class="icon-twitter"></i></a>
                                                            <a class="social-google" target="_blank" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http://demo.themetrail.com/realty/property/country-house/"><i class="icon-google-plus"></i></a>
                                                            <a class="social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://demo.themetrail.com/realty/property/country-house/&amp;description=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fcountry-house%2F"><i class="icon-pinterest"></i></a>
                                                        </div>
                                                        <i class="icon-share share-property" data-toggle="tooltip" data-original-title="Share" title="Share"></i>
                                                    </span>

                                                    <i class="add-to-favorites icon-heart-1" data-fav-id="146" data-toggle="tooltip" title="Add To Favorites"></i><i class="icon-add compare-property" data-compare-id="146" data-toggle="tooltip" title="Compare"></i>

                                                </div><!-- .property-icons -->
                                                <div class="clearfix"></div>
                                            </div><!-- .property-price -->
                                        </div><!-- .property-content -->

                                    </div><!-- .property-item -->
                                </li>
                                <li class="col-lg-6">

                                    <div class="property-item border-box" data-sync-id="6">
                                        <a href="http://demo.themetrail.com/realty/property/central-office/">
                                            <figure class="property-thumbnail">
                                                <img width="600" height="300" src="http://demo.themetrail.com/realty/wp-content/uploads/2015/10/realty-property-office-huge-2-600x300.jpg" class=" wp-post-image" alt="" />			<figcaption>
                                                    <div class="property-excerpt">
                                                        <h4 class="address">5 Walbrook, London, United Kingdom</h4>
                                                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the ..</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="property-content content">
                                            <div class="property-title">
                                                <a href="http://demo.themetrail.com/realty/property/central-office/"><h3 class="title">Central Office</h3></a>
                                            </div>
                                            <div class="property-meta clearfix">
                                                <div>
                                                    <div class="meta-title"><i class="icon-size"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Size">250 sq ft</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-rooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Rooms">1 Room</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bathrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bathrooms">1 Bathroom</div>
                                                </div>
                                            </div>


                                            <div class="property-price">
                                                <div class="price-tag">
                                                    $6,000&nbsp;&nbsp;per month
                                                </div>
                                                <div class="property-icons">
                                                    <span style="position: relative">
                                                        <div class="share-unit" style="display: none;">
                                                            <a class="social-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fcentral-office%2F&amp;t=Central+Office"><i class="icon-facebook"></i></a>
                                                            <a target="_blank" class="social-twitter" href="http://twitter.com/home?status=Central+Office+http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fcentral-office%2F"><i class="icon-twitter"></i></a>
                                                            <a class="social-google" target="_blank" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http://demo.themetrail.com/realty/property/central-office/"><i class="icon-google-plus"></i></a>
                                                            <a class="social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://demo.themetrail.com/realty/property/central-office/&amp;description=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fcentral-office%2F"><i class="icon-pinterest"></i></a>
                                                        </div>
                                                        <i class="icon-share share-property" data-toggle="tooltip" data-original-title="Share" title="Share"></i>
                                                    </span>

                                                    <i class="add-to-favorites icon-heart-1" data-fav-id="147" data-toggle="tooltip" title="Add To Favorites"></i><i class="icon-add compare-property" data-compare-id="147" data-toggle="tooltip" title="Compare"></i>

                                                </div><!-- .property-icons -->
                                                <div class="clearfix"></div>
                                            </div><!-- .property-price -->
                                        </div><!-- .property-content -->

                                    </div><!-- .property-item -->
                                </li>
                                <li class="col-lg-6">

                                    <div class="property-item border-box" data-sync-id="7">
                                        <a href="http://demo.themetrail.com/realty/property/living-the-dream/">
                                            <figure class="property-thumbnail">
                                                <img width="600" height="300" src="http://demo.themetrail.com/realty/wp-content/uploads/2015/10/realty-property-mansion-600x300.jpg" class=" wp-post-image" alt="" />			<figcaption>
                                                    <div class="property-excerpt">
                                                        <h4 class="address">St. James's, London, UK</h4>
                                                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the ..</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="property-content content">
                                            <div class="property-title">
                                                <a href="http://demo.themetrail.com/realty/property/living-the-dream/"><h3 class="title">Living The Dream</h3></a>
                                            </div>
                                            <div class="property-meta clearfix">
                                                <div>
                                                    <div class="meta-title"><i class="icon-size"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Size">1500 sq ft</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-rooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Rooms">7 Rooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bedrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bedrooms">2 Bedrooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bathrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bathrooms">2 Bathrooms</div>
                                                </div>
                                            </div>


                                            <div class="property-price">
                                                <div class="price-tag">
                                                    $7,500&nbsp;&nbsp;per month
                                                </div>
                                                <div class="property-icons">
                                                    <span style="position: relative">
                                                        <div class="share-unit" style="display: none;">
                                                            <a class="social-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fliving-the-dream%2F&amp;t=Living+The+Dream"><i class="icon-facebook"></i></a>
                                                            <a target="_blank" class="social-twitter" href="http://twitter.com/home?status=Living+The+Dream+http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fliving-the-dream%2F"><i class="icon-twitter"></i></a>
                                                            <a class="social-google" target="_blank" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http://demo.themetrail.com/realty/property/living-the-dream/"><i class="icon-google-plus"></i></a>
                                                            <a class="social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://demo.themetrail.com/realty/property/living-the-dream/&amp;description=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fliving-the-dream%2F"><i class="icon-pinterest"></i></a>
                                                        </div>
                                                        <i class="icon-share share-property" data-toggle="tooltip" data-original-title="Share" title="Share"></i>
                                                    </span>

                                                    <i class="add-to-favorites icon-heart-1" data-fav-id="144" data-toggle="tooltip" title="Add To Favorites"></i><i class="icon-add compare-property" data-compare-id="144" data-toggle="tooltip" title="Compare"></i>

                                                </div><!-- .property-icons -->
                                                <div class="clearfix"></div>
                                            </div><!-- .property-price -->
                                        </div><!-- .property-content -->

                                    </div><!-- .property-item -->
                                </li>
                                <li class="col-lg-6">

                                    <div class="property-item border-box" data-sync-id="8">
                                        <a href="http://demo.themetrail.com/realty/property/green-oasis/">
                                            <figure class="property-thumbnail">
                                                <img width="600" height="300" src="http://demo.themetrail.com/realty/wp-content/uploads/2015/10/realty-property-mansion-lavender-600x300.jpg" class=" wp-post-image" alt="" />			<figcaption>
                                                    <div class="property-excerpt">
                                                        <h4 class="address">Smith Square, London, UK</h4>
                                                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the ..</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="property-content content">
                                            <div class="property-title">
                                                <a href="http://demo.themetrail.com/realty/property/green-oasis/"><h3 class="title">Green Oasis</h3></a>
                                            </div>
                                            <div class="property-meta clearfix">
                                                <div>
                                                    <div class="meta-title"><i class="icon-size"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Size">500 sq ft</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-rooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Rooms">5 Rooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bedrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bedrooms">2 Bedrooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bathrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bathrooms">2 Bathrooms</div>
                                                </div>
                                            </div>


                                            <div class="property-price">
                                                <div class="price-tag">
                                                    $825,000
                                                </div>
                                                <div class="property-icons">
                                                    <span style="position: relative">
                                                        <div class="share-unit" style="display: none;">
                                                            <a class="social-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fgreen-oasis%2F&amp;t=Green+Oasis"><i class="icon-facebook"></i></a>
                                                            <a target="_blank" class="social-twitter" href="http://twitter.com/home?status=Green+Oasis+http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fgreen-oasis%2F"><i class="icon-twitter"></i></a>
                                                            <a class="social-google" target="_blank" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http://demo.themetrail.com/realty/property/green-oasis/"><i class="icon-google-plus"></i></a>
                                                            <a class="social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://demo.themetrail.com/realty/property/green-oasis/&amp;description=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fgreen-oasis%2F"><i class="icon-pinterest"></i></a>
                                                        </div>
                                                        <i class="icon-share share-property" data-toggle="tooltip" data-original-title="Share" title="Share"></i>
                                                    </span>

                                                    <i class="add-to-favorites icon-heart-1" data-fav-id="148" data-toggle="tooltip" title="Add To Favorites"></i><i class="icon-add compare-property" data-compare-id="148" data-toggle="tooltip" title="Compare"></i>

                                                </div><!-- .property-icons -->
                                                <div class="clearfix"></div>
                                            </div><!-- .property-price -->
                                        </div><!-- .property-content -->

                                    </div><!-- .property-item -->
                                </li>
                                <li class="col-lg-6">

                                    <div class="property-item border-box" data-sync-id="9">
                                        <a href="http://demo.themetrail.com/realty/property/modern-office/">
                                            <figure class="property-thumbnail">
                                                <img width="600" height="300" src="http://demo.themetrail.com/realty/wp-content/uploads/2015/10/realty-property-office-building3-600x300.jpg" class=" wp-post-image" alt="" />			<figcaption>
                                                    <div class="property-excerpt">
                                                        <h4 class="address">30 Webber Street, London, UK</h4>
                                                        <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the ..</p>
                                                    </div>
                                                    <div class="property-tag tag-left">
                                                        Sold
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="property-content content">
                                            <div class="property-title">
                                                <a href="http://demo.themetrail.com/realty/property/modern-office/"><h3 class="title">Modern Office</h3></a>
                                            </div>
                                            <div class="property-meta clearfix">
                                                <div>
                                                    <div class="meta-title"><i class="icon-size"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Size">500 sq ft</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-rooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Rooms">4 Rooms</div>
                                                </div>
                                                <div>
                                                    <div class="meta-title"><i class="icon-bathrooms"></i></div>
                                                    <div class="meta-data" data-toggle="tooltip" title="Bathrooms">1 Bathroom</div>
                                                </div>
                                            </div>


                                            <div class="property-price">
                                                <div class="price-tag">
                                                    $600,000
                                                </div>
                                                <div class="property-icons">
                                                    <span style="position: relative">
                                                        <div class="share-unit" style="display: none;">
                                                            <a class="social-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fmodern-office%2F&amp;t=Modern+Office"><i class="icon-facebook"></i></a>
                                                            <a target="_blank" class="social-twitter" href="http://twitter.com/home?status=Modern+Office+http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fmodern-office%2F"><i class="icon-twitter"></i></a>
                                                            <a class="social-google" target="_blank" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http://demo.themetrail.com/realty/property/modern-office/"><i class="icon-google-plus"></i></a>
                                                            <a class="social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=http://demo.themetrail.com/realty/property/modern-office/&amp;description=http%3A%2F%2Fdemo.themetrail.com%2Frealty%2Fproperty%2Fmodern-office%2F"><i class="icon-pinterest"></i></a>
                                                        </div>
                                                        <i class="icon-share share-property" data-toggle="tooltip" data-original-title="Share" title="Share"></i>
                                                    </span>

                                                    <i class="add-to-favorites icon-heart-1" data-fav-id="141" data-toggle="tooltip" title="Add To Favorites"></i><i class="icon-add compare-property" data-compare-id="141" data-toggle="tooltip" title="Compare"></i>

                                                </div><!-- .property-icons -->
                                                <div class="clearfix"></div>
                                            </div><!-- .property-price -->
                                        </div><!-- .property-content -->

                                    </div><!-- .property-item -->
                                </li>
                            </ul>

                            <div id="pagination">
                                <ul class='page-numbers'>
                                    <li><span class='page-numbers current'>1</span></li>
                                    <li><a class='page-numbers' href='http://demo.themetrail.com/realty/property-map-vertical/page/2/'>2</a></li>
                                    <li><a class="next page-numbers" href="http://demo.themetrail.com/realty/property-map-vertical/page/2/"><i class="icon-arrow-right"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- #content -->



    <script>

        jQuery(document).ready(function ($) {
            $("#sel_search_CityName").multiselect({
                buttonWidth: '100%'
            });
            $("#sel_search_KeyWord").multiselect({
                buttonWidth: '100%'
            });
            $("#sel_search_DeployDate").multiselect({
                buttonWidth: '100%'
            });
            // Social Sharing and video pop up
            video_and_social_share();

            jQuery('.search-results-view i').on('click', function () {
                jQuery('.search-results-view i').removeClass('active');
                jQuery(this).toggleClass('active');
                jQuery('.property-items').fadeTo(300, 0, function () {
                    jQuery(this).fadeTo(300, 1);
                });

                setTimeout(function () {
                    jQuery('.property-items').attr('data-view', jQuery('.search-results-view i.active').attr('data-view'));
                }, 300);

            });



        });

        jQuery('.datepicker').datepicker({
            language: 'en',
            autoclose: true,
            isRTL: 'false',
            format: 'mm/dd/yyyy',

        });





        function loader() {
            jQuery('.property-items').addClass('loading');
            jQuery('.property-items').html('<div class="loader-container"><div class="svg-loader"></div></div>');
        }

        // AJAX script for pagination
        jQuery(function ($) {
            $('.pagination-ajax a').live('click', function (e) {
                e.preventDefault();

                var link_page = $(this).attr('href');
                var page_number = $(this).text();

                if ($(this).hasClass("next")) {
                    var next_from = parseInt($('.pagination-ajax li span').text());
                    page_number = next_from + 1;
                }

                if ($(this).hasClass("prev")) {
                    var prev_from = parseInt($('.pagination-ajax li span').text());
                    page_number = prev_from - 1;
                }

                $('.property-items').fadeOut(500);
                removeMarkers();

                var ajaxData = jQuery('.property-search-form').first().serialize() + "&action=tt_ajax_search&base=" + window.location.pathname + "&pagenumber=" + page_number;
                //console.log(ajaxData);
                $.ajax({
                    type: 'GET',
                    url: ajax_object.ajax_url,
                    data: ajaxData,
                    success: function (response) {
                        $(".property-items").html(response);
                        $(".property-items").fadeIn(500);
                        window.history.pushState(".property-items", "Properties", link_page);
                    },
                    error: function () {
                        console.log('failed');
                    }
                });

            });
        });
    </script>

    <script>

        jQuery('.container').on("click", '.add-to-favorites', function () {

            jQuery('#msg-login-to-add-favorites').removeClass('hide');
            jQuery('a[href="#tab-login"]').tab('show');
            jQuery('#login-modal').modal();
            jQuery('#login-modal').on('hidden.bs.modal', function () {
                jQuery('#msg-login-to-add-favorites').addClass('hide');
            });

        });
    </script>



</body>

</html>
